.register-form{
    width: 450px;
    margin-left: 1%;
}

.register-label {
    margin-left: 4%;
    display: block;
    font-weight: bold;
}

.register-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-input input {
    width: 88%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.inactiveButton {
    margin-left: 7%;
    width: 86%;
    padding: 10px;
    background-color: rgb(99, 105, 100);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: not-allowed; /* 비활성화된 상태에서는 커서를 변경합니다. */
}
.pass{
    display: flex;
    flex-direction: row;
}

.passFalse{
    color: red;
    margin-left: 118px;
}

.emailFalse{
    color: red;
    margin-left: 186px;
}

.checkFalse{
    color: red;
    margin-left: 90px;
}

.emailLabel{
    display: flex;
    flex-direction: row;
}

.nameLabel{
    display: flex;
    flex-direction: row;
}

.check{
    display: flex;
    flex-direction: row;
}

.nameFalse{
    color: red;
    margin-left: 175px;
}