.writeArea {
    padding-left: 380px;
}

.pageHeader{
    display: flex;
    justify-content: space-between;
    padding: 9px;
    background-color: rgb(242, 241, 235);
}

textarea {
    width: 99.9%; /* 텍스트 영역을 부모 요소의 너비에 맞추기 */
    height: 95.4%; /* 텍스트 영역을 부모 요소의 높이에 맞추기 */
    resize: none; /* 사용자가 텍스트 영역의 크기를 조절하지 못하도록 함 */
    padding: 10px; /* 내부 여백 추가 */
    box-sizing: border-box; /* 내부 여백을 포함하여 요소의 크기를 계산 */
    border: 1px solid #ccc; /* 테두리 추가 */
    font-size: 16px; /* 글꼴 크기 설정 */
    line-height: 1.6; /* 줄 간격 설정 */
    font-family: Arial, sans-serif; /* 글꼴 설정 */
}

.writeArea{
    height: 100vh;
}

.pageName {
    width: 90%; /* 입력 필드를 부모 요소의 너비에 맞추기 */
    padding: 5px; /* 내부 여백 설정 */
    box-sizing: border-box; /* 내부 여백을 포함하여 요소의 크기를 계산 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 테두리 둥글게 만들기 */
    font-size: 16px; /* 글꼴 크기 설정 */
    line-height: 1.6; /* 줄 간격 설정 */
    font-family: Arial, sans-serif; /* 글꼴 설정 */
    transition: border-color 0.3s; /* 호버 효과를 위한 전환 설정 */
}

.pageName:focus {
    outline: none; /* 포커스 시 기본 아웃라인 제거 */
    border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 효과 추가 */
}

.savePageButton {
    width: 70px;
    padding: 10px;
    background-color: rgb(136, 171, 142);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.savePageButton:hover {
    background-color: rgb(106, 134, 109);
}